.container {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 00px;
  background-color: #FFFF;
  z-index: 9;
  padding:20px;
  box-shadow: 0px 0px 16px  #00000014;
}

.container__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container__box__logo {
  width: 142px;
  height: 36px;
  background-image: url(../../assets/logoWithName.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container__box__notification {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/notification.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}