.form__group__upload {
  width: fit-content;
  border-radius: 4px;
  border: 1px dashed #00A267;
  padding: 4px;
}



.form__field__upload__label {
  display: block;
  width: 111px;
  height: 24px;
  background-image: url("../../assets/upload.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  cursor: pointer;

}





.form__field__upload {
  display: none;

}
